<section class="hero hero-normal">
    <div class="container">
        <div class="row">
            <!-- Слайдер с категориями продуктов -->
            {% include 'body/components/second_header/components/food_categories.html' %}
            <div class="col-lg-9">
                <div class="hero__search">
                    <!-- Форма поиска -->
                    {% include 'body/components/second_header/components/search_form.html' %}
                    <!-- Телефон тех поддержки -->
                    {% include 'body/components/second_header/components/tech_support_phone.html' %}
                </div>
            </div>
        </div>
    </div>
</section>