
<div class="blog__sidebar__item">
    <h4>Искать</h4>
    <div class="blog__sidebar__item__tags" onclick="nullScrollPosition()">
        <a href="{% url 'blog' %}?search=Яблоки">Яблоки</a>
        <a href="{% url 'blog' %}?search=Красота">Красота</a>
        <a href="{% url 'blog' %}?search=Суп">Суп</a>
        <a href="{% url 'blog' %}?search=Торт">Торт</a>
        <a href="{% url 'blog' %}?search=Здоровье">Здоровье</a>
        <a href="{% url 'blog' %}?search=Выпечка">Выпечка</a>
    </div>
</div>