<div class="col-lg-3 col-md-4 col-sm-6">
    <div class="product__discount__item">
        <div class="product__discount__item__pic set-bg" data-setbg="{{product.image.url}}">
            <div class="product__discount__percent">-{{product.discount.discount_value}}%</div>
            <ul class="product__item__pic__hover">
                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
            </ul>
        </div>  
        <div class="product__discount__item__text">
            <h6><a href="?id={{product.id}}">{{product.name}}</a></h6>
            <div class="product__item__price">{{product.discount.discounted_price}} ₽<span>{{product.price}} ₽</span></div>
        </div>
    </div>
</div>