<div class="col-lg-4 col-md-5">
    <div class="blog__sidebar">
        <!-- Кнопка 'Создать Статью' -->
        {% include 'blog/sidebar/components/create_article_button.html' %}

        <!-- Строка поиска -->
        {% include 'blog/sidebar/components/searchbar.html' %}

        <!-- Категории -->
        {% include 'blog/sidebar/components/categories.html' %}

        <!-- Виджет 'Последние Статьи' -->
        {% include 'blog/sidebar/components/last_articles_widget.html' %}

        <!-- Подсказки поиска -->
        {% include 'blog/sidebar/components/searchbar_helpers.html' %}
    </div>
</div>