<div class="col-lg-6">
    <div class="shoping__continue">
        <div class="shoping__discount">
            <h5>Есть промокод?</h5>
                <input name='promo' class='site-btn promoInput' type="text" placeholder="Введите его!">
                <button type="submit" class="site-btn promoButton">Применить</button>
                <p class="promoP hide">Описание промокода - <span class="promoBeta"></span><br>Размер скидки: <span class="promoBeta"></span></p>
        </div>
    </div>
</div>